<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="container">
      <h4>Item Detail</h4>
      <div>
        <h5>item name : <%=item.name%></h5>
        <h5>ite, price : <%=item.price%></h5>
      </div>
      <a class="delete btn" href="">DELETE</a>
      </ul>
    </div>
  </body>
</html>
